<app-navbar></app-navbar>
<div class="container" style="margin-top: 5%;margin-bottom: 5%;">
    <div class="row" >
        <div class="col-sm-6">
            <h1 class="title" style="font-size: 40px;">Thank you <br> for your consideration</h1>
        </div>
        <div class="col-sm-5">
           
           <p class="subtitle" style="color: var(--dark);"><small>Choose payment method</small></p> 
            <div style="float: left; text-align: left;">
                <a class="btn btn-sm btn-custom2 shadow-0"> <img src="./../../../assets/M-PESA_LOGO-01.svg" style="height: 50px;" alt="" srcset=""> &nbsp; <small style="color: var(--dark);">Send money to +254 (704) 281 959</small> </a> <br>
                <a class="btn btn-sm btn-custom2 shadow-0" style="margin-top: 2%; padding: 8%; " href="https://www.justgiving.com/crowdfunding/mayflower-africafoundation?utm_term=M9jwymyJP"> <img src="./../../../assets/justgiving.svg" style="height: 25px;" alt="" srcset=""> &nbsp; <small style="color: var(--dark);"></small> </a>
            
            </div> 
           <div style="text-align: left;"> 
                <img src="./../../../assets/Official QR.dib" style="height: 100px;" alt="" srcset="">
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>
<div class="container-fluid banner">
</div>
<app-footer></app-footer>