<div *ngIf="auth.user$ | async as user" >    
    <div *ngIf="!user.verified">
        <app-navbar></app-navbar>
        <div class="container" style="margin-top: 8%;margin-bottom: 8%;">
            <div class="row" >
                <div class="col-sm-5">
                    <h1 class="title" style="font-size: 45px;">Admin only access</h1>
                    <p class="subtitle" style="color: var(--dark);"><small>Account verification required</small></p> 
                    <p><small style="letter-spacing: 1px;">It seems your gmail account is yet to be verified, to change this, kindly contact the administor, thank you.</small></p>
                    <a  (click)="auth.signOut()" style="cursor: pointer;color: var(--medium);" ><p><i class="fas fa-sign-out"></i> Sign out</p></a>

                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <img src="./../../../assets/taxi-89.png" class="accessImg" alt="">
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
        <div class="container-fluid bannerAccess">
        </div> 
    </div>  
</div>
<div *ngIf="auth.user$ | async as user" > 
    <div  *ngIf="user.verified" class="header">
        <app-side-nav></app-side-nav>
        <div class="contentblock"> 
            <div class="row" style="margin-top: 2%;margin-bottom: 2%;"> 
                <div class="col-sm-11" >
                    <div class="row" style="margin-top: 2%;margin-bottom: 2%;"> 
                        <h1 class="title">Career openings</h1>
                    </div>

                    <!-- Tabs navs -->
                    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                        <a
                            class="nav-link active"
                            id="ex1-tab-1"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-1"
                            role="tab"
                            aria-controls="ex1-tabs-1"
                            aria-selected="true"
                            >Openings</a>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                        <a
                            class="nav-link"
                            id="ex1-tab-2"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-2"
                            role="tab"
                            aria-controls="ex1-tabs-2"
                            aria-selected="false"
                            >Uploads</a
                        >
                        </li>  -->
                        <li class="nav-item" role="presentation">
                        <a
                            class="nav-link"
                            id="ex1-tab-3"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-3"
                            role="tab"
                            aria-controls="ex1-tabs-3"
                            aria-selected="false"
                            >New opening</a
                        >
                        </li> 
                    </ul>
                    <!-- Tabs navs -->
                
                    <!-- Tabs content -->
                    <div class="tab-content" id="ex1-content">
                        <div
                        class="tab-pane fade show active"
                        id="ex1-tabs-1"
                        role="tabpanel"
                        aria-labelledby="ex1-tab-1"
                        >
                        
                        <div class="row" style="max-height: 80vh;  overflow-y: auto;"> 
                            <a  *ngFor="let member of careers" class="col-sm-12" style=" border-radius: 4px; color: var(--dark);margin-top: 1%; padding: 2%; border: 1px solid rgb(228, 226, 226); ">
                                <div class="row" >
                                    <div class="col-sm-5">
                                        <h2 class="subtitle" style="font-weight: bold;margin-bottom: 0;margin-bottom: 0;">{{member.title}}</h2>
                                        <p class="subtitle" style="margin-bottom: 0%;"><span style="font-size: 12px;color: var(--medium);margin-bottom: 0;">{{getDept(member.department)}} department</span></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p style="margin-bottom: 0%;">{{member.uploaded.toDate()  | date  }}</p>
                                        <p style="margin-bottom: 0%;"><small style="font-size: 11px;color: lightgray;">{{member.uploaded.toDate()  | timeago  }}</small></p>

                                    </div>

                                    <div class="col-sm-3">
                                        <span class="badge bg-custom">{{member.nature == '1' ? 'Full-time' : 'part-time'}}</span>
                                        &nbsp;
                                        <span class="badge bg-custom"> {{member.location}} </span>
                                    </div>
                                    <div class="col-sm-1" style="text-align:left">
                                        <a (click)="auth.deleteCareer(member.id)" style="color: red; text-decoration: underline;" ><small>Delete</small></a>
                                    </div>
                                </div>    
                            </a> 
                        </div>

                        </div>
                        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                            <div class="container" style="width:70%;margin-top: 4%;">
                                <div> 
                                <h4 class="title" style="margin-top: 4%;margin-bottom: 4%;"> Picks your image/document uploads</h4>
                                </div>
                                <div class="my-3">
                                <app-upload-form></app-upload-form>
                                </div>
                                <div class="my-2">
                                <app-upload-list></app-upload-list>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                            <form  [formGroup]="form" (ngSubmit)="submit()" > 
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-outline mb-4">
                                            <label for="department"><small style="color: var(--medium);">Department</small></label>
                                            <select class="form-control" id="department" formControlName="department" >
                                            <option value=1>Sales</option>
                                            <option value=2>IT</option> 
                                            <option value=3>Marketing</option>
                                            <option value=4>Finance</option> 
                                            <option value=5>Human resource</option> 
                                            <option value=6>Engineering</option>
                                            <option value=7>Other</option>      
                                            </select>
                                            <div *ngIf="f['department'].touched && f['department'].invalid" style="color: var(--medium);">
                                                <div *ngIf="f['department'].errors && f['department'].errors['required']" > <small>** Department is required.</small> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-outline mb-4">
                                            <label for="nature"><small style="color: var(--medium);">Nature of employment </small></label>
                                            <select class="form-control" id="nature" formControlName="nature" >
                                            <option value=1>Full-time</option>
                                            <option value=2>Part-time</option>  
                                            <!-- <option value=3>Contract</option>     -->
                                            </select>
                                            <div *ngIf="f['nature'].touched && f['nature'].invalid" style="color: var(--medium);">
                                                <div *ngIf="f['nature'].errors && f['nature'].errors['required']" > <small>** The nature of employment is required.</small> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- Job title input -->
                                        <div class="form-outline mb-4">
                                            <input type="text" id="title" formControlName="title"  class="form-control form-control-sm" />
                                            <label class="form-label" for="title">Job title</label>
                                            <div *ngIf="f['title'].touched && f['title'].invalid" style="color: var(--medium);">
                                                <div *ngIf="f['title'].errors && f['title'].errors['required']" > <small>** Job title is required.</small> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4">
                                        <input type="text" id="location" formControlName="location"  class="form-control form-control-sm" />
                                        <label class="form-label" for="location">Location</label>
                                            <div *ngIf="f['location'].touched && f['location'].invalid" style="color: var(--medium);">
                                                <div *ngIf="f['location'].errors && f['location'].errors['required']" > <small>** Location is required.</small> </div>
                                                <div *ngIf="f['location'].errors && f['location'].errors['minlength']"><small>** Location be above 3 characters.</small></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                                        
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-custom1 shadow-0"  [disabled]="form.invalid" type="submit">Add new opening</button>
                            </form>
                        </div>
                    </div>
                    <!-- Tabs content -->
                </div>
                <div class="col-sm-1">
                    
                </div>
            </div> 
        </div> 
    </div> 
</div>