<!-- Footer -->
<footer class="text-center text-lg-start  text-muted" style="background-color: white!important;">

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <!-- <img src="./../../../assets/logo.jpeg" style="height: 55px;padding-bottom: 5%;" alt=""> -->
            <small class="subtitle" style="font-size: 10px;color: var(--medium);">Mayflower Children's Foundation</small>
            <h2 class="title">
              Change a child's future
            </h2>
            <a [routerLink]= "['/donations']" style="text-decoration: underline;color: var(--medium);font-size: 20px;"><small>Donate now</small></a>

          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Useful links
            </h6>
            
            <p>
                <a [routerLink]= "['/']"  class="text-reset"><small>Home</small></a>
              </p> 
              <p>
                <a [routerLink]= "['/partnership']" class="text-reset"><small>Partner program</small></a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
               &nbsp;
            </h6>
            <p>
              <a [routerLink]= "['/team']" class="text-reset"><small>Careers</small></a>
            </p>
            <p>
              <a [routerLink]= "['/donations']" class="text-reset"><small>Donate</small></a>
            </p>
            <p>
              <a  [routerLink]= "['/contact']" class="text-reset"><small>Contact</small></a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><small>Crawford Business Park, Nairobi, KE</small></p>
            <p>
              <small>info@mayflowerchildrens.com</small>
            </p>
            <p> <small>+ 254 704 281 959</small></p> 
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
        <!-- Section: Social media -->
        <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div>
          <a href="https://www.facebook.com/Mayflower-Childrens-Foundation-101530299127046/about/?ref=page_internal" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/Mayflower_Kids" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <!-- <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a> -->
          <a href="https://instagram.com/mayflower_kids" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a> 
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: var(--light);">
      <small>© 2022 Copyright:&nbsp;&nbsp;</small>
      <a class="text-reset fw-bold" href=""><small>Mayflower Children's Foundation</small></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->